@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Playfair+Display&display=swap');
.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}

a.nav-link {
    font-family: 'playfair display', sans-serif;
    font-weight: bold;
}

 #order-page, #contact-page{
    color:#00C49A;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.9);
}

.navbar-light .navbar-nav .nav-link:hover {
    background-color: #0B7A75;
    transition: .3s all ease-in-out;
    border-radius: .3rem;
   
}

/** remove the spacing at the left and right corner of the page**/
.navbar {
    padding: 1rem 0;
}

.navbar-toggler {
    border: none;
}

/** create suitable padding to the web body**/
.header-nav {
    padding-right: 1rem;
    padding-left: 1rem;
}

/** middle section of the index.html page **/
.coffee-variety-title {
    font-family: 'playfair display', sans-serif;
    text-align: center;
    font-size: 1.15rem;
    margin-top: 1.5rem;
    font-weight: bold;
}

.container-card-title-first,
.container-card-title-second,
.text-of-order-one,
.text-of-order-two {
    padding-right: 1rem;
    padding-left: 1rem;
}

/** Overlay text on the image **/
.card {
    position: relative;
    text-align: center;
}

.center-text-coffee-one,
.center-text-coffee-two,
.center-text-coffee-four {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: 'playfair display', sans-serif;
    font-size: 1rem;
  
}

.center-text-coffee-three {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #093145;
    font-family: 'playfair display', sans-serif;
    font-size: 1.1rem;
  
}

.coffee-price{
    color:#2B2D42;
    font-family: 'playfair display', sans-serif;
    font-weight: bold;
}

/** auto resize the image to fit the container in different screen sizes**/
.container-card-title {
    width: 17.8rem;
    height: 9rem;
}

/******************* how_to_order.html page *******************/
.how-to-order-title {
    font-family: 'playfair display', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.text-of-order-one,
.text-of-order-two {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: 'dosis', sans-serif;
    color: black;
    font-weight: bold;
    text-align: left;
}

.order-method {
    background: url("../images/order.jpg") no-repeat center;
    height: 10rem;
    background-size: cover;
    top: 50%;
    left: 50%;
}

div#map {
    height: 400px;
    width: 100%;
}

/******************* contact.html page *******************/
/** Part of the css code for the contact page are derived and edited from "CodingSnow" channel on Youtube platfrom**/
.contact-background-image {
    background: url("../images/landing.jpg")no-repeat center;
    min-height: 100vh;
    background-size: cover;
}

.container-contactDetail {
    width: 100%;
    display: flex;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    line-height: 5rem;
    margin-right: 1rem;
    font-size: 1rem;
    font-family: 'playfair display', sans-serif;
    flex-direction: column;
}
 
.contact-info i{
    margin-right: 1rem;
}

button, input, optgroup, select, textarea {
    font-size: 0.9rem;
    line-height: 1rem;
}

.contact-info, .contact-title-text {
    flex: 1;
}

div.contact-info {
    font-weight: bold;
}

.contact-title-text h2{
    text-align: center;
    margin-top: 3rem;
}

.contact-title-text .text-box-1, .text-box-2 {
    border: none;
    background-color: #343434;
    color: #fff;
    width: calc(50% - 0.6rem);
    height: 80%;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    width: 100%;
}

.text-box-1 {
    margin-bottom: 1.5rem !important;
}

.contact-title-text textarea {
    background-color: #343434;
    color: #fff;
    border: none;
    width: 100%;
    padding: 1rem;
    min-height: 5rem;
    max-height: 10rem;
    resize: vertical;
    border-radius: 1rem;
  
}

.contact-title-text .submit-btn {
    float: right;
    margin-right: 1rem;
    background-color: #F9A03F;
    color: black;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: .3s all ease-in-out;
    padding: 1rem;
}

.submit-btn:hover {
    background-color: #6D213C;
}

/******************* footer section for index.html and how_to_order.html *******************/
.social-media-title,
.about-brewright {
    font-family: 'playfair display', sans-serif;
    text-align: center;
    font-size: 1.1rem;
    margin-top: 1.1rem;
    text-align: center;
}

.about-brewright-text {
    font-family: 'playfair display', sans-serif;
    font-size: 0.9rem;
    margin-top: 0.9rem;
    text-align: justify;
}

.social-networks {
    display: inline-block;
}

.social-networks i {
    font-size: 2rem;
    padding: 1rem;
    color: #4E8098;
}

.social-network-list {
    text-align: center;
    padding: 0;
}

/******************* cart.html page ********************/
.fa-cart-arrow-down:before, .cart-number {
    color: #2D3047;
}

.shopping-cart-title {
    font-family: 'playfair display', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.items-container {
    justify-content: space-around;
    margin: 4rem auto;
}
 
.items-added i{
    margin-right: 0.8rem;
    margin-left: 0.8rem;
    color: darkblue;
    cursor: pointer;
    font-size: 1.2rem;
}

.items-header {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    font-family: 'playfair display', sans-serif;  
}

.fa-trash-alt:before{
    margin: 0.4rem;
}

.cartTotalTitle, .cartTotalAmount {
    font-family: "sans-serif"; 
    margin-left: 0.8rem; 
}

/******************* 404 page  ********************/
#pageError {
    font-weight:900;
    font-size: 10rem;
    text-align:center;
}

/******************* screen responsiveness adjustment ********************/
@media screen and (min-width: 320px) {
    .contact-background-image {
        background-position: 20% 50%;
    }

    .navbar-brand img {
        width: 9rem;
        height: 2rem;
    }

    .text-box {
        flex-direction: column;
    }

    .items-added i {
        margin-right: 0.8rem;
        margin-left: 0.8rem;
        color: darkblue;
        cursor: pointer;
        font-size: 0.6rem;
    }

    td {
        font-size: 0.9rem;
    }

    i.fas.fa-minus-square, i.fas.fa-plus-square, i.fas.fa-trash-alt {
        display: contents;
    }

    .cartTotalTitle, .cartTotalAmount {
        display: inline-block;
        font-weight: bold;
    }

    .contact-title-text .submit-btn {
        margin-right: 2.5rem;
    }

    .carousel-caption>h1 {
        font-size: 1.5rem;
        font-family: 'sans-serif';
        color: #F1FAEE;
        margin-bottom: 2.5rem;
    }
}

@media screen and (min-width: 768px) {
    .navbar-brand img {
        width: 18rem;
        height: 3rem;
    }

    .container-contactDetail {
        flex-direction: row;
    }

    .carousel-caption>h1 {
        font-size: 3rem;
        font-family: 'playfair display', sans-serif;
        color: #F1FAEE;
        font-weight: bold;
    }

    .contact-info {
        font-size: 1.3rem;
    }

    div.items-container .items-header h5  {
        font-size: 1.5rem;
    }

    .items-added i {
        margin-right: 0.8rem;
        margin-left: 0.8rem;
        color: darkblue;
        cursor: pointer;
        font-size: 1rem;
    }

    td {
        font-size: 1rem;
    }

    .items-container {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}
