@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.navbar-brand img {
    width: 10rem;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;

}

/** remove the spacing at the left and right corner of the page**/
.navbar {
    padding: 1rem 0;
}

.navbar-toggler {
    border: none;
}

/** create suitable padding to the web body**/
.header-nav {
    padding-right: 1rem;
    padding-left: 1rem;
}

.landing-image {
    background: url("../images/landing.jpg") no-repeat center;
    height: 13rem;
    background-size: cover;
    align-items: center;
    justify-content: center;
    background-position: center center;
}

.jumbotron {
    background: transparent;
}

.landing-text {
    display: none;
}

/** middle section of the page **/
.coffee-variety-title {
    font-family: 'playfair display', sans-serif;
    text-align: center;
    font-size: 1.5rem;
}

@media screen and (min-width: 430px) {
    .landing-image {
        height: 25rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .navbar-brand img {
        width: 18rem;
    }

    .landing-image {
        height: 70vh;
    }

    .landing-text {
        font-size: 3rem;
        font-family: 'playfair display', sans-serif;
        color: #F1FAEE;
        text-align: center;
        display: block;
        margin-top: 8rem;
    }
}