.navbar-brand img {
    width: 140px;
}

.navbar-brand {
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;

}

/** remove the spacing at the left and right corner of the page**/
.navbar {
    padding: 1rem 0;
}

.navbar-toggler {
    border: none;
}

.header-nav {
    padding-right: 50px;
    padding-left: 50px;
}